#header{
  background-color: #333333;
  color: antiquewhite;
  border-top: thin;
  border-bottom: double;
  font-family: 'Lobster', cursive;
  font-size: 25pt;
  width: 100%;
}
.col-md-8{
  padding:5px;
  margin:0px 50px;
  font-family: 'Chewy', sans-serif;
  font-size: 18pt;
}
.col-md-3{
  background-color: #333333;
  color: antiquewhite;
  border-right: thin;
  font-family: 'Chewy', sans-serif;
  font-size: 15pt;
}
#footer{
  clear:both;
  padding: 5px;
  margin: 10px;
  background-color: #333333;
  color: antiquewhite;
  border-top: double;
  font-family: 'Lobster', sans-serif;
  font-size: 14pt;
}